
@{
    ViewBag.Title = "CRUDcliente";
}

<div class="my-4">
    <h2>Mantenimiento de Clientes</h2>
</div>

<div class="my-4">
    <button class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-sm">Agregar nuevo usuario</button>
</div>

<div class="my-4" id="listarclientes">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Telefono</th>
                <th scope="col">Pais</th>
                <th scope="col">Estado</th>
                <th scope="col">IDC</th>
                <th scope="col">Usuario</th>
                <th scope="col">Correo</th>
                <th scope="col">Contraseña</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="ListaClientes">
        </tbody>
    </table>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal">
    <div class="modal-dialog modal-sm">
        <div id="modalMantenimiento" class="modal-content">
            <div class="mx-auto my-4">
                <h4>Insertar nuevo Usuario</h4>
            </div>
            <div class="mx-auto">
                <form id="validarregistro">
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control input-lg my-3 txt" />
                    <input type="text" id="apellido" name="apellido" placeholder="Apellido" class="form-control input-lg my-3 txt" />
                    <input type="number" id="edad" name="edad" placeholder="Edad" class="form-control my-3 txt" />
                    <input type="text" id="numero" name="numero" placeholder="Número Telefónico" class="form-control input-lg my-3 txt" />
                    <select id="paisdata" name="pais" class="form-control input-lg my-3 txt">
                        <option selected>Pais</option>

                    </select>
                    <input type="text" id="usuario" name="usuario" placeholder="Usuario" class="form-control input-lg my-3 txt" />
                    <input type="email" id="correo" name="correo" placeholder="Correo" class="form-control input-lg my-3 txt" />
                    <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" class="form-control input-lg my-3 txt" />
                    <input type="password" id="contraseña2" name="contraseña2" placeholder="Confirmar Contraseña" class="form-control input-lg my-3 txt" />
                    <label class="mx-auto" id="mensaje">Las contraseñas si coinciden.</label>
                </form>
            </div>
            <div class=" row my-3 mx-auto">
                <button class="btn btn-success mx-3" id="registro">Ingresar</button>
                <button class="btn btn-danger" id="cancelar">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Content/js/UsuariosCRUD.js"></script>
    <script src="~/Content/js/ListarPaises.js"></script>
    <script src="~/Content/js/validarregistro.js"></script>
    <script src="~/Content/js/RegistrarClienteA.js"></script>
    <script src="~/Content/js/ClientebyID.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.20/dist/sweetalert2.all.min.js"></script>
    <script>
        VerClientes();
    </script>
    <script>
        ListarPais();
    </script>

}


