@{
    ViewBag.Title = "Mantenimiento";
}

<div class="my-4">
    <h2>Mantenimiento de Buy Online</h2>
</div>

<div class="my-4 card-columns">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://us.123rf.com/450wm/martialred/martialred1611/martialred161100044/66078470-grupo-de-personas-o-grupo-de-usuarios-amigos-línea-de-gráficos-de-iconos-para-aplicaciones-y-sitios-.jpg?ver=6" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mantenimiento de usuarios</h5>
            <p class="card-text">En esta area esta el listado de usuarios registrados en la pagina</p>
            <a href="~/admin/CRUDcliente" class="btn btn-primary">Ir a Usuarios</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.icon-icons.com/icons2/2406/PNG/512/tags_categories_icon_145927.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mantenimiento de Categoria</h5>
            <p class="card-text">En esta area esta el listado de Categoria registrados en la base de datos</p>
            <a href="~/admin/CRUDcategoria" class="btn btn-primary">Ir a Categoria</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img2.freepng.es/20180408/zvq/kisspng-computer-icons-system-administrator-clip-art-id-5acaabc60564b4.7905606915232316860221.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mantenimiento de Administradores</h5>
            <p class="card-text">En esta area esta el listado de Administradores registrados en la base de datos</p>
            <a href="~/admin/CRUDadmin" class="btn btn-primary">Ir a Adnministradores</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img.lovepik.com/free-png/20210919/lovepik-shopping-cart-png-image_400495984_wh1200.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mantenimiento de Compras</h5>
            <p class="card-text">En esta area esta el listado de Compras registrados en la base de datos</p>
            <a href="~/admin/CRUDcompras" class="btn btn-primary">Ir a Compras</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/3534/3534606.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mantenimiento de Detalles de Compras</h5>
            <p class="card-text">En esta area esta el listado de Detalle de Compras registrados en la base de datos</p>
            <a href="~/admin/CRUDdetallecompra" class="btn btn-primary">Ir a Detalle de Compras</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://rapienviosinc.com/wp-content/uploads/2020/12/unnamed.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mantenimiento de Estados</h5>
            <p class="card-text">En esta area esta el listado de Estados registrados en la base de datos</p>
            <a href="~/admin/CRUDestados" class="btn btn-primary">Ir a Estados</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.geoenciclopedia.com/wp-content/uploads/2018/10/banderas-paises.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mantenimiento de País</h5>
            <p class="card-text">En esta area esta el listado de Paises registrados en la base de datos</p>
            <a href="~/admin/CRUDpais" class="btn btn-primary">Ir a Paises</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img.freepik.com/vector-premium/dibujos-animados-productos-supermercado_24640-55629.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mantenimiento de Productos</h5>
            <p class="card-text">En esta area esta el listado de Productos registrados en la base de datos</p>
            <a href="~/admin/CRUDproductos" class="btn btn-primary">Ir a Productos</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://site.openpay.mx/img/tarjetas/img_headerTARJETAS@2x.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mantenimiento de Tarjeta</h5>
            <p class="card-text">En esta area esta el listado de Tarjeta registrados en la base de datos</p>
            <a href="~/admin/CRUDtarjeta" class="btn btn-primary">Ir a Tarjetas</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://konecta.mx/wp-content/uploads/2018/07/forma-pago2.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mantenimiento de Tipo de Pago</h5>
            <p class="card-text">En esta area esta el listado de Tipo de Pagos registrados en la base de datos</p>
            <a href="~/admin/CRUDtipopago" class="btn btn-primary">Ir a Tipo de Pago</a>
        </div>
    </div>
</div>